

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    text-align: left;
}




.widget .widget-title-wrapper {
  display: flex;
}

.widget .widget-title-wrapper .widget-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.widget .widget-title-wrapper .widget-date-primary img 
{
    width: 40px;
    height: auto;
}


.widget .widget-title-wrapper .widget-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.widget .widget-title-wrapper .widget-meeting-info .widget-pro-title {
  color: #3c4142;
  font-size: 14px;
}

.widget .widget-title-wrapper .widget-meeting-info .widget-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}

.widget .widget-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: .5rem;
}

.widget .widget-meeting-points .widget-meeting-item {
  display: block ;
  color: #727686;
}

.widget .widget-meeting-points .widget-meeting-item span {
  margin-left: .5rem;
}

.widget .widget-meeting-action {
  text-align: right;
}

.widget .widget-meeting-action a {
  text-transform: uppercase;
}